<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Some website </title>
  </head>
  <body>
    {{> header}}
    <p>Hi, this is {{pageTitle}} page!</p>
    <p>Today is {{currentDate}}</p>
    <a href="/about">About</a>
    {{> footer}}
  </body>
</html>
